@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --main: rgba(0, 192, 226, 0.9);
  --rounded: 10px;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}
.d-flex {
  display: flex;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
button > a {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  scrollbar-color: var(--main);
}
.top-menu {
  display: flex;
  position: relative;

  justify-content: space-between;
  background-color: var(--main);
  padding: 100px 60px;
  height: 400px;
}
.top-menu > button {
  font-family: "Montserrat", sans-serif;
}
.profile {
  height: 200px;
  display: flex;
  gap: 30px;
}
.profile__image {
  height: 150px;
  border-radius: 100px;
  width: 162px;
}
.profile__text {
  height: 30px;
  color: white;
  font-size: 25px;
}

.contact-button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  min-height: 50px;
  max-height: 70px;
  margin-right: 60px;
  cursor: pointer;
  color: white;
  padding: 5px;

  font-size: 20px;
}
.contact-form {
  display: block;
  width: 40%;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.contact-form input,
textarea {
  color: #333;
  font-size: 1.2rem;
  margin: 5px auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.contact-form__submit {
  border: 0;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
}

.logo {
  width: 256px;
  height: 207px;
  z-index: 1;
  display: none;
}
@media only screen and (min-width: 900px) {
  .logo {
    display: block;
  }
}
.logo-text-wrapper {
  margin: auto 0;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.2);
}
.bubbles {
  position: absolute;
  transform: scale(0.5);
  left: -180px;
  top: -180px;
  display: none;
}
.main-content-wrapper {
  position: relative;
  margin-top: -40px;
  z-index: 3;
}
@keyframes mymove {
  from {
    font-size: 0;
  }
  to {
    transform: translateX(0%);
  }
}
.tile {
  transform: translateX(400%);
  width: 460px;
  height: 460px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);

  transition: 0.4s ease-in-out;
  position: relative;
}
.no-padding {
  padding: 0;
}
#first.tile {
  animation: mymove 1s ease-in-out forwards;
}

#second.tile {
  animation: mymove 1s ease-in-out 300ms forwards;
  background-color: var(--main);
  filter: contrast(1.4);
}
#third.tile {
  animation: mymove 1s ease-in-out 600ms forwards;
}
/* #third .tile__front {
  background-image: url("./assets/hobby.jpg");
  background-size: contain;
  width: 460px;
  height: 460px;
} */
#fourth.tile {
  animation: mymove 1s ease-in-out 800ms forwards;
}
.tile__image {
  position: absolute;
  width: 460px;
  height: 460px;
  border-radius: var(--rounded);
}
.tiles-wrapper {
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
  gap: 20px;
}

.tileText {
  opacity: 0;
  transition: 0.4s ease-in-out;

  font-size: 25px;
  -moz-user-select: none;
  overflow: auto;

  width: 430px;
  height: 430px;
  padding: 10px;
  margin: auto;
}
.tileImage {
  opacity: 0;
  width: 460px;
  height: 460px;
  transition: 0.4s ease-in-out;
}
.tileImage img {
  border-radius: 10px;
}
.tile__title {
  transition: 0.4s ease-in-out;
  opacity: 1;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
}
.tile__front {
  opacity: 1;
  transition: 0.3s;
}
.tile__hint {
  position: absolute;
  bottom: 40px;
  right: 70px;
  transition: 0.3s;
}
.skill__wrapper span {
  color: white;
  height: 20px;
  display: inline-block;
  border-bottom: 1px solid white;
}
.skill__wrapper {
  text-align: center;
}
.skill-list {
  list-style: none;
  margin: auto;
}
.skill-list-item {
  border-radius: 4px;
  background-color: #e6e6e6;
  margin: 10px;
  padding: 30px;
}
.skill-list-item img {
  width: 50px;

  font-size: 30px;
}
.tile__wrapper {
  margin: auto;
}
.tile__wrapper--hover:hover .tileText {
  opacity: 1;
}
.tile__wrapper--hover:hover .area {
  background-color: black;
}
.tile__wrapper--hover:hover .tile {
  transform: rotateY(180deg);
}
.tile__wrapper--hover:hover .tile__front {
  opacity: 0;
}
.tile__wrapper--hover:hover .tile__hint {
  transform: scale(2);
}
.tile__wrapper--hover:hover .tileImage {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #f0eff4; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 168, 198, 0.7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f0eff4; /* creates padding around scroll thumb */
}
